<html>
  <head>
    <link rel="stylesheet" href="_static/css/page.css" type="text/css">
    <link rel="stylesheet" href="_static/css/boilerplate.css" type="text/css" />
    <link rel="stylesheet" href="_static/css/fbm.css" type="text/css" />
    <link rel="stylesheet" href="_static/jquery/css/themes/base/jquery-ui.min.css" >
    <script src="_static/jquery/js/jquery-1.11.3.min.js"></script>
    <script src="_static/jquery/js/jquery-ui.min.js"></script>
    <script src="mpl.js"></script>
    <script src="static/lines.js"></script>
    <script>
      function ondownload(figure, format) {
        window.open('download.' + format, '_blank');
      };

      $(document).ready(
        function() {
          var websocket_type = mpl.get_websocket_type();
          var websocket = new websocket_type("{{ ws_uri }}");

          var fig = new mpl.figure(
              {{ fig_id }},
              websocket,
              ondownload,
              $('div#figure'));
        }
      );
    </script>
    <title>matplotlib</title>
  </head>

  <body>
    <h1>matplotlib</h1>
    <div id="figure">
    </div>
    <p id="demo">hahahah</p>
    <button type="button" onclick="myFunction()">点击这里</button>
    <form action="lines" method="post">
      <input type="text" placeholder="Account" name="account">
      <input type="password" placeholder="passwd" name="passwd">
      <input type="submit">
    </form>
  </body>
</html>